@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");
}

.welcome {
  color: rgb(0, 0, 0);
  font-family: "Roboto";
  text-align: center;
  box-shadow: 0 0 5px rgb(233, 136, 10);
  background-color: rgb(243, 167, 2);
  text-shadow: 2px 2px wheat;
  font-size: 50px;
  margin-bottom: 7px;
  margin-top: 7px;
}
.main {
  margin-left: 15px;
  margin-right: 15px;
}
.main-text {
  color: rgb(233, 136, 10);
  font-family: "Roboto";
  text-align: justify;
  font-size: 20px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: -10px;
  text-shadow: 2px 2px black;
}
body {
  background: url(https://images.pexels.com/photos/1921336/pexels-photo-1921336.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260)
  no-repeat rgba(5, 22, 29, 0.993);
  background-position: top;
  width: 960px;
  margin: 0 auto;
  padding: 0;
}
.menük a {
  height: 100%;
  width: 100%;
  font-size: 18px;
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  margin-left: 35px;
  line-height: 40px;
  padding: 3px 3px 3px 3px;
  text-shadow: 0 0 5px rgb(243, 167, 2);
  border-bottom: solid white 1px;
}
.menük a:hover {
  box-shadow: 0 0 5px rgb(243, 167, 2);
  background-color: rgb(243, 167, 2);
  border: 1px solid;
  transition: 0.3s ease;
  text-shadow: 1px 1px black;
}
.menük a:not(:hover) {
  transition: 0.3s ease;
}
.menük a i {
  margin-right: 0px;
}
#main-greetings {
  text-align: center;
  font-size: 50px;
  text-shadow: 0 0 5px black;
}
.nov-irok {
  text-align: center;
  margin-top: -35px;
}
.nov-cimek {
  margin-left: 6%;
  border: solid 1px white;
  width: fit-content;
  padding: 0 3px 0 3px;
  padding-right: 7px;
  background-color: rgb(255, 255, 255);
  color: black;
  box-shadow: 0 0 15px rgb(243, 167, 2);
  margin-top: 37px;
  font-size: 30px;
  text-shadow: 2px 2px rgb(243, 167, 2);
  border-radius: 25px;
}
.irok-megjegyz {
  text-align: center;
  margin-top: -23px;
  border-bottom: solid white 2px;
  padding-bottom: 20px;
  box-shadow: 1px rgb(243, 167, 2);
}
.nov-selection a {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Roboto";
  box-shadow: 0 0 5px rgb(233, 136, 10);
  background-color: rgba(243, 167, 2, 0.5);
  text-shadow: 2px 2px rgba(245, 222, 179, 0.5);
  font-size: 45px;
  text-decoration: none;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 25px;
}
.nov-selection a:hover {
  box-shadow: 0 0 15px rgb(243, 167, 2);
  font-size: 50px;
  padding-left: 30px;
  padding-right: 30px;
  border: solid 1px wheat;
  transition: 0.3s ease;
  background-color: rgb(206, 177, 84);
  text-shadow: 2px 2px rgba(245, 222, 179, 1);
}
.nov-selection a:not(:hover) {
  transition: 0.3s ease;
}
div.nov-selection {
  margin-top: 50px;
  text-align: center;
}
.nov-list {
  line-height: 1.7;
  word-spacing: 1000px;
}
